:root {
    --subtle: rgba(0,0,0,0.6);
}

.sub-text {
    color: var(--subtle);
}

.question .btn {
    margin-left: 0.5rem;
}
@media (max-width: 576px) {
    .question .btn {
        margin-top: 0.5rem;
        margin-left: 0;
    }
}

.help_text {
    color: var(--subtle);
    font-size: 85%;
    margin-bottom: 2px;
}

.question {
    margin-bottom: 1.5rem;
}

.answer {
    margin-top: 0.7rem;
}