{% extends 'layout.html' %}
{% load static %}
{% block title %}
gfd
{% endblock %}

{% block body %}
{# FORM #}
<div class="container">
    <div class="row">
        <div class="col-12">
            <form class="my-4" method="GET">
                <div class="row d-flex align-items-end">
                    <div class="col-6 col-lg">
                        {{ filter_form.number_of_questions.errors }}
                        <label for="{{form.number_of_questions.id_for_label}}">{{filter_form.number_of_questions.label }}</label>
                        {{ filter_form.number_of_questions }}
                    </div>
                    <div class="col-6 col-lg">
                        {{ filter_form.categories.errors }}
                        <label for="{{form.categories.id_for_label}}">{{filter_form.categories.label }}<p class="help_text">{{ filter_form.categories.help_text }}</p></label>
                        {{ filter_form.categories }}
                        
                    </div>
                    <div class="col">
                        <button type="submit" class="btn btn-primary btn-sm">Filter</button>
                    </div>
                </div>
              </form>
        </div>
    </div>
</div>
<div class="container">
    <h1>Questions</h1>            
    <button type="button" data-id="show-all-answers" id="show-all-answers" class="ml-1 btn btn-primary btn-sm">Show ALL answers</button>
    {% for question in questions %}
    <div class="row question" id="question">
        <div class="col-12">
            <small class="sub-text">{{question.category}}</small>
            <h4>{{question.question}}</h4>
            <div class="form-inline">
                <textarea rows="1" cols="40" class="form-control form-control-sm"></textarea>
                <button type="button" data-id="show-answer-{{question.id}}" id="{{question.id}}" class="btn btn-primary btn-sm show-answer form-control form-control-sm">Show answer</button>
                <button type="button" data-id="ignore-question-{{question.id}}" data-ignore-for="7" class="btn btn-warning btn-sm ignore-question form-control form-control-sm">Ignore for 7 days</button>
                <button type="button" data-id="ignore-question-{{question.id}}" data-ignore-for="14" class="btn btn-warning btn-sm ignore-question form-control form-control-sm">Ignore for 14 days</button>
            </div>
            <p class="answer" style="display:none;" data-id="answer-{{question.id}}" id="answer-{{question.id}}">{{question.answer}}</p>
        </div>
    </div>
    {% endfor %}
</div>


{% endblock %}

{% block style %}
<script src="{% static 'quiz/quiz.js' %}"></script>
{% endblock %}